networks:
  default-network:
    driver: bridge

volumes:
  openldap:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /d/mercury/openldap
  slapd-d:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /d/mercury/slapd.d
  phpldapadmin-sessions:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /d/mercury/phpldapadmin/sessions
  phpldapadmin-logs:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /d/mercury/phpldapadmin/logs
 
services:
  openldap:
    image: scisoftware/openldap:ubuntu-24.04
    container_name: openldap_database
    networks:
      - default-network
    hostname: openldap
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - LDAP_ORG_DC=${LDAP_ORG_DC}
      - LDAP_OLC_SUFFIX=${LDAP_OLC_SUFFIX}
      - LDAP_ROOT_CN=${LDAP_ROOT_CN}
      - LDAP_ROOT_DN=cn=${LDAP_ROOT_CN},${LDAP_OLC_SUFFIX}
      - LDAP_ROOT_PASSWD=${LDAP_ROOT_PASSWD}
      - LDAP_TECHNICAL_USER_CN=${LDAP_TECHNICAL_USER_CN:-FrontendAccount}
      - LDAP_TECHNICAL_USER_PASSWD=${LDAP_TECHNICAL_USER_PASSWD:-secret}
      - LDAP_OLC_ACCESS=${LDAP_OLC_ACCESS:-by anonymous auth by * read}
      - SERVER_DEBUG=${SERVER_DEBUG:-0}
    volumes: 
      - openldap:/var/lib/ldap:rw
      - slapd-d:/etc/ldap/slapd.d:rw
    ports:
      - "389:389"
      - "636:636"
  phpldapadmin:
    image: phpldapadmin/phpldapadmin:2.3.9
    container_name: openldap_phpldapadmin
    build: .
    networks:
      - default-network
    hostname: phpldapadmin
    extra_hosts:
      - "host.docker.internal:host-gateway"
    links:
      - openldap
    environment:
      - APP_KEY="base64:fgcOpfQcnzApC47YD8nQTpqxpeC6ctQ2PL+t1ar31R4="
      - APP_DEBUG=true
      - APP_TIMEZONE="Europe/Warsaw"
#      - CACHE_DRIVER=file
#      - LDAP_BASE_DN=dc=scisoftware,dc=openldap
      - LDAP_BASE_DN=${LDAP_OLC_SUFFIX}
      - LDAP_CACHE=false
      - LDAP_NAME=OpenLDAP
      - LDAP_CONNECTION=ldap
      - LDAP_HOST=openldap
      - LDAP_PORT=389
      - LDAP_LOGIN_ATTR=uid
      - LDAP_LOGIN_OBJECTCLASS=person
#      - LDAP_USERNAME=cn=manager,dc=scisoftware,dc=pl
#      - LDAP_PASSWORD=secret
    volumes: 
      - phpldapadmin-sessions:/app/storage/framework/sessions:rw
      - phpldapadmin-logs:/app/storage/logs:rw
    ports:
      - "8080:8080"